<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Footer -->
    <footer class="bg-dark text-white py-4 mb-lg-0 ">
        <div class="container text-center">
            <p>&copy; 2025 Mon Site Web. Tous droits réservés.</p>
            <ul class="list-unstyled">
                <li><a href="#" class="text-white">Mentions légales</a></li>
                <li><a href="#" class="text-white">Politique de confidentialité</a></li>
            </ul>
        </div>
    </footer>


</body>

</html>